
.accordian-list {
    background-color: #f9f9f9;
    margin: 0 0 1rem 0;
    position: relative;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-cart{
    margin-top: 40px;
}
.accordianTitle{
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #131313;
}
