.product-card-temp{
   width: 22%;
    display: flex;
    flex-direction: column;
    margin: 16px;
    overflow: hidden;

    .image-container{
        width: 250px;
        height: 300px;
        background-color: #F9F9F9;
        border-radius: 2px;
        overflow: hidden;
        padding: 4px 0px;
    }
    .heading-styles{
        display: flex;
        flex-wrap: wrap;
        flex-grow: 0;
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
        color: #131313;
    }
    .sub-heading-styles{
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #888888;
        flex: none;
        order: 0;
        flex-grow: 0;
        margin-right:2px;
    }

    .caption-styles{

    }

}

@media only screen and (max-width: 600px) {

    .product-card-temp{
        width: 40%;

        .image-container{
            width: 110px;
            height: 120px;
            background-color: #F9F9F9;
            border-radius: 2px;
            overflow: hidden;
        }

        .heading-styles{
            display: flex;
            flex-wrap: wrap;
            flex-grow: 0;
            font-weight: 500;
            font-size: 14px;
            line-height: 26px;
            color: #131313;
        }
    
    }

}

@media only screen and (max-width: 800px) {

    .product-card-temp{
        width: 35%;
        overflow: hidden;

        .image-container{
            width: 110px;
            height: 120px;
            background-color: #F9F9F9;
            border-radius: 2px;
            overflow: hidden;
        }

        .heading-styles{
            display: flex;
            flex-wrap: wrap;
            flex-grow: 0;
            font-weight: 500;
            font-size: 14px;
            line-height: 26px;
            color: #131313;
        }
    
    }

}