@import "../../../globalStyles/scss/variables.scss";

.product-page {
    display: flex;
    flex-direction: column;
   background-color: $white;


  .image-thumnbnail{
      display: flex;
      overflow-x: scroll;
      width: 100%;
      justify-content: space-around;
      &::-webkit-scrollbar {
        width: 0px !important;
      }

      .image-item{
          &.active{
            border-radius: 2px;
            border-width: 1px;
            border-style: solid;
            border-color: #F5A930;
          }
          &.inactive{
            border-radius: 1px;
            border-style: solid;
            border-color: transparent;
        }
      }
  }

  .lidYyG{    border-width: 2px;
    border-radius: 2px;
    border-style: solid;
    border-color: #F5A930;
}
  .breadcrumbs {
    background-color: $white;
    padding: $spacer / 2 $spacer $spacer / 2 $spacer * 1.5;
    margin-top: $spacer * 3;
    padding-bottom: 32px;
  }
 button.sc-htoDjs.jdEray {
    background: #F5A930 !important;
    border-radius: 5rem;
	padding: 1.2rem 1rem;
    .fKClap {
      display: inline-block;
      font-size: 1rem !important;
      text-transform: unset;
      font-weight: 400 !important;
      line-height: 1.25rem;
  }
  }
  &__product {
    display: flex;
    margin-top: $spacer;
    padding-bottom: $spacer * 3;

    @media (max-width: $small-screen) {
      display: block;
      margin-bottom: $spacer * 2;
    }

    &__description {
      width: 100%;
      min-height: $spacer * 10;
      margin-bottom: $spacer * 9; 
    }

    &__info {
      flex-grow: 1;
      width: 50%;
      position: relative;

      @media (max-width: $medium-screen) {
        width: 30%;
      }

      @media (max-width: $small-screen) {
        width: 100%;
      }

   
h3{
    font-size: 1.5rem;
    text-transform: capitalize;
    color: #000;
}
.kEZevB {
    margin-bottom: 0.5rem !important;
}
.cfinner{
    display: flex;
    width: 100%;
    flex-direction: row;
    margin-top: 15px;
	
	.finner1 {
    margin: 0 2rem 0 0;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #888888;
}
}
.Maindes {
    margin: 1.5rem 0 0 0;
   // font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 26px;
    color: #373737;
}
.dqteCy {
   
    margin-top: 0;
}

.btnIn2 {
    width: 100%;
    border: 1px solid #F5A930;
    color: #F5A930;
    font-size: 1rem;
    border-radius: 5rem;
    padding: 1.2rem 1rem;
    margin: 1rem 0 0 0;
}
.featurelists {
    display: flex;
    margin: 2rem 0 0 0;
    flex-direction: revert;
    height: 100%;
    vertical-align: middle;
	border-bottom: 1px solid #E6E6E6;
    padding-bottom: 1.5rem;
	font-weight: 500;
	svg{
	margin: 0 1rem 0 0;
	}
}.accordion {
    border: 0 !important;
    border-radius: 2px;
	.accordion__item {
    border: 0 !important;
}
.accordion__button {
    background-color: #f9f9f9;
    margin: 0 0 1rem 0;
	position: relative;
	&::before{
	
    position: absolute;
    right: 18px;
    top: 22px;
	}
}
}



.addsmettel {
 margin: 1.5rem 0;


.addstitle {
	margin-bottom: 1rem;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #131313;
}

.addmetlist {
    display: flex;
    flex-direction: row;


.addmetbox {
    background: #F9F9F9;
    padding: 1rem;
    margin: 0 1rem 0 0;
}
}
}
      &--fixed {
        top: 0;
        position: sticky;
		    padding-right: 2rem;
        padding-left: 3rem;
        max-width:500px;
        // @media (min-width: $container-width) {
        //   width: calc(#{$container-width} * 50 / 100);
        // }
      }
    }

    &__gallery {
      flex-grow: 2;
      width: 50%;
      padding: 0 $spacer 0 0;
      box-sizing: border-box;

      @media (max-width: $medium-screen) {
        width: 50%;
      }

      @media (max-width: $small-screen) {
        width: 100%;
        padding: 0;
        margin-bottom: $spacer * 2;
        padding: 0;
      }

      &__nav {
        li {
          display: inline-block;
          padding: $spacer / 2;

          span {
            width: $spacer / 2;
            height: $spacer / 2;
            border: 1px solid $gray;
            border-radius: $spacer / 2;
            display: block;
          }

          &.active {
            span {
              background-color: $turquoise;
              border-color: $turquoise;
            }
          }
        }
      }
    }
  }

  &__other-products {
    background-color: $white;
    padding: $spacer * 4 0;

    &__title {
      font-weight: 500;
      margin-bottom: $spacer * .5;
    }
	.bPHtOO {
    background: transparent !important;
    padding: 1.5rem;
	}
	.OKLzu {
    text-transform: capitalize;
    font-weight: 600;
    margin: 1rem 0 0.5rem 0;
    font-size: 1rem;}
	.HFLtd {
  
    background: #F9F9F9;
    border-radius: 2px;
	}
  }
}
