@import "../../../globalStyles/scss/variables.scss";

.main-conatct-us{
    padding: 32px 90px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    .right-container{
        min-width: 45%;
        padding: 22px;
        background: #FFFFFF;
        box-shadow: 0px 0px 24px rgba(27, 27, 27, 0.05);
        border-radius: 8px;
        display: flex;
        flex-direction: column;

        .row-input{
            width: 100%;
            padding: 12px 0px;
            display: flex;
            justify-content: space-between;

            .input-w-label{
                width: 100%;
                margin: 6px;

                .label{
                    font-weight: 500;
                    font-size: 13px;
                    line-height: 18px;
                    padding-bottom: 4px;
                    letter-spacing: 0.5px;
                    color: #737373;
                }

                .input{
                    background: #FFFFFF;
                    border: 1px solid #E6E6E6;
                    box-sizing: border-box;
                    border-radius: 4px;
                    height: 48px;
                    outline: none;
                }
                .textarea{
                    background: #FFFFFF;
                    border: 1px solid #E6E6E6;
                    box-sizing: border-box;
                    border-radius: 4px;
                    height: 141px;
                }

            }

        }

        .send-btn{
            max-width: 215px;
            padding: 12px 2px;
            background: #F5A930;
            border-radius: 50px;
            font-weight: 600;
            font-size: 16px;
            line-height: 36px;
            text-align: center;
            color: #FFFFFF;
            cursor: pointer;
        }

    }
    .left-container{
        max-width: 48%;
        display: flex;
        flex-direction: column;

        .separator-line{
            width: 100%;
            border: .5px solid #E6E6E6;
            background-color:#E6E6E6 ;
            margin: 22px 0px;
        }

        .heading-contact{
            font-style: normal;
            font-weight: 500;
            font-size: 48px;
            line-height: 56px;
            letter-spacing: 0.01em;
        }
        .heading-desc{
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 26px;
            color: #131313;
            padding: 12px 0px;
        }
        .complain-query-container{

            display: flex;
            flex-direction: column;

            .complain-desc{
                font-style: normal;
                font-weight: 500;
                font-size: 28px;
                line-height: 36px;
            }

            .email-call-container{
                display: flex;

                .skip-right-mn{
                    margin-left: 0px !important;
                }

                .query-card{
                    width: 180px;
                    height: 140px;
                    margin: 12px;
                    background-color: #eee;
                    box-shadow: 0px 0px 24px rgba(27, 27, 27, 0.05);border-radius: 8px;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                }

            }
            .query-timing{
                font-weight: normal;
                font-size: 14px;
                line-height: 18px;
                color: #131313;
            }

            .heading-item{
                margin: 6px;
                line-height: 24px;
                letter-spacing: 0.02em;
                text-transform: uppercase;
                display: flex;
                flex-direction: column;
                color: #131313;
                min-width: 25%;
                justify-content: flex-start;
                font-weight: 500;
                font-size: 16px;
                letter-spacing: 0.01em;
        
                .subheading-footer-item{
                    display: flex;
                    line-height: 26px;
                    font-weight: 400;
                    color: #131313;
                    flex-wrap: wrap;
                    font-size: 12px;
                    line-height: 26px;
                }
            }

        }

    }
}

@media only screen and (max-width: 600px) {
    
    .main-conatct-us{
        display: flex;
        padding: 16px;
        justify-content: center;

        flex-direction: column;
        .right-container{
            min-width: none;
            width: 100%;

            .row-input{
                flex-direction: column;

            }
        }
        .left-container{
            max-width: none;
            width: 100%;
            .heading-contact{
               text-align: center;
            }
            .footer-desc{
                flex-direction: column;
                padding-bottom: 12px;
            }
            .complain-query-container{
                .email-call-container{
                    flex-direction: column;
                    .skip-right-mn{
                        margin: 6px 0px !important;
                    }
                    .query-card{
                        width: 100%;
                        margin: 6px 0px !important;
                    }
                }
            }
        }
    }
  }