.product-list{
    display: flex;
    flex-wrap: nowrap;
    overflow-x:scroll;
    width: 100%;
    position: relative;

    .image-item{
        min-width:25%
    }
    .right-scroll-icon{

    }
}

.product-list::-webkit-scrollbar {
    height: 2px;
  }

.product-list::-webkit-scrollbar-thumb {
    background: #000; 
    }
.product-list::-webkit-scrollbar-track {
background: transparent; 
}



@media only screen and (max-width: 600px) {
    
    .product-list{
        display: flex;
        flex-wrap: nowrap;
        overflow-x:scroll;
        width: 100%;
    
        .image-item{
            min-width:70%
        }
    }
    .nav-btn{
        display: none !important;
    }
  }